.navbar {
  /* border: 1px solid black; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: space-around; */
  width: 100vw;
  height: 8vh;
  padding: 5px;
  overflow: hidden;
  /* background-color: aqua; */
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  /* border: 1px solid black; */
}
